   <div class="body-nav">
    <nav class="navbar">
      <img src="/img/logo.png" class="logo">
      <div class="navbar-options">
        <a href="/">Início</a>
        <a href="/loja">Loja</a>
        <a href="/produtos">Produtos</a>
        <a href="/suporte">Suporte</a>
      </div>
      <div class="navbar-right">
        <form>
          <input type="text" placeholder="Pesquisar">

          <button type="submit"><span class="material-symbols-outlined">search</span></button>
        </form>
        <a href="/login"><span class="material-symbols-outlined">
login
</span></i></a>
      </div>
    </nav>
    </div>