<div class="store">
    <h1>Loja. <span class="trocar-cor">você encontra o que você precisa.</span></h1>
    <h2>Produtos em desenvolvimento pela <span class="trocar-cor">APOLLO</span></h2>
    <div class="joao">
      <div class="rectangle-new">
        <img src="/img/5.png" alt="APOLLO P12 PRO">
        <h3>APOLLO EAR V2</h3>
        <p>Imersivo e com o melhor som</p>
        <button>R$ 70,00</button>
      </div>
      <div class="rectangle-new">
        <img src="/img/6.png" alt="APOLLO P12 PRO">
        <h3>APOLLO EAR T21</h3>
        <p>Leve e adaptável ao ouvido</p>
        <button>R$ 50,00</button>
      </div>
      <div class="rectangle-new">
        <img src="/img/7.png" alt="APOLLO P12 PRO">
        <h3>CHARGER V1</h3>
        <p>Carregamento por indução</p>
        <button>R$ 100,00</button>
      </div>
    </div>
    <div class="joao">
            <div class="rectangle-new1">
        <img src="/img/8.png" alt="APOLLO P12 PRO">
        <h3>APOLLO VR GLASS</h3>
        <p>A realidade virtual acessível</p>
        <button>R$ 400,00</button>
      </div>
      <div class="rectangle-new1">
        <img src="/img/9.png" alt="APOLLO P12 PRO">
        <h3>HEADSET Z500</h3>
        <p>Ouça o som sem interrupções</p>
        <button>R$ 100,00</button>
      </div>
      <div class="rectangle-new1">
        <img src="/img/10.png" alt="APOLLO P12 PRO">
        <h3>APOLLO COVER W2</h3>
        <p>A proteção com a melhor capa</p>
        <button>R$ 20,00</button>
      </div>
    </div>
</div>
 <style>
  body{
       background-color: #F7F7F7;
  }
 </style>