<div class="sobre">
  <div class="titulo">
    <h1>APOLLO P13 DELUXE é destaque na feira tecnológica de Buenos Aires</h1>
    <h4>Novo dispositivo da Apollo apresenta avanços na tela, processador e bateria. Recebe elogios dos visitantes e críticos no evento.</h4>
  </div>
  <div class="conteudo">
    <div class="imagem">
      <img src="/img/noticia1.png" alt="">
    </div>
    <div class="texto">
      <p>APOLLO P13 DELUXE é destaque na feira tecnológica de Buenos Aires. O novo dispositivo da Apollo apresenta avanços na tela, processador e bateria, recebendo elogios dos visitantes e críticos no evento. A feira tecnológica de Buenos Aires, que aconteceu nesta semana, foi palco do lançamento do novo dispositivo móvel da Apollo, o APOLLO P13 DELUXE. Com suas especificações de última geração, o dispositivo chamou a atenção dos visitantes da feira, que ficaram impressionados com a qualidade da tela, desempenho do processador e eficiência da bateria. <br>

Além dos elogios dos visitantes, o APOLLO P13 DELUXE também recebeu críticas positivas de especialistas do setor de tecnologia, que destacaram o design elegante e a facilidade de uso. A Apollo, empresa líder no mercado de dispositivos móveis, tem grandes expectativas para o sucesso do APOLLO P13 DELUXE, que promete revolucionar o mercado de smartphones de alta performance. O dispositivo já está disponível para pré-venda e promete ser um dos mais procurados deste ano.</p>
    </div>
  </div>
</div>


<style>
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.titulo {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.conteudo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.imagem {
  width: 50%;
}

.texto {
  width: 70%;
  text-align: left;
  margin-left: 50px;
  text-align: justify;
  font-size: 1.4rem;
}


</style>