<div class="sobre">
  <div class="titulo">
    <h1>Especificações do APOLLO P14 GOLD são divulgadas na Gold Center</h1>
    <h4>Novo dispositivo da Apollo promete revolucionar. Recursos avançados, como câmera de 64MP e bateria de 8.000mAh, chamam atenção.</h4>
  </div>
  <div class="conteudo">
    <div class="imagem">
      <img src="/img/noticia3.png" alt="">
    </div>
    <div class="texto">
      <p>A Apollo, líder no setor de dispositivos móveis, apresentou as especificações do APOLLO P14 GOLD durante uma conferência na Gold Center. A empresa destacou a câmera de 64MP como um dos principais diferenciais do dispositivo, bem como sua bateria de 8.000mAh, que oferece uma longa duração de uso. <br>

Além da câmera e da bateria, o APOLLO P14 GOLD também apresenta outros recursos avançados, como tela OLED de 6,7 polegadas, processador octa-core e armazenamento interno de 128GB. Tudo isso torna o dispositivo ideal para quem procura uma combinação de desempenho e design de alta qualidade. <br>

A Apollo espera que o APOLLO P14 GOLD revolucione o mercado de smartphones e continue a fortalecer sua posição como líder no setor. A empresa está animada com o lançamento do dispositivo e acredita que ele atenderá às expectativas dos consumidores. O lançamento oficial do APOLLO P14 GOLD está previsto para o próximo mês.</p>
    </div>
  </div>
</div>


<style>
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.titulo {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.conteudo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.imagem {
  width: 50%;
}

.texto {
  width: 70%;
  text-align: left;
  margin-left: 50px;
  text-align: justify;
  font-size: 1.4rem;
}


</style>