<div class="sobre">
  <div class="titulo">
    <h1>APOLLO P12 PRO ultrapassa a marca de 50 milhões de vendas</h1>
    <h4>Smartphone da Apollo consolida posição como um dos mais populares no mercado mundial. Empresa comemora sucesso e anuncia novidades para o futuro</h4>
  </div>
  <div class="conteudo">
    <div class="imagem">
      <img src="/img/noticia2.png" alt="">
    </div>
    <div class="texto">
      <p>APOLLO P12 PRO ultrapassa a marca de 50 milhões de vendas. O smartphone da Apollo consolida sua posição como um dos mais populares no mercado mundial. A Apollo, líder no setor de dispositivos móveis, comemora o sucesso do APOLLO P12 PRO, que ultrapassou a marca de 50 milhões de unidades vendidas ao redor do mundo. <br>

O APOLLO P12 PRO tem se destacado pela sua combinação de desempenho, design e preço acessível, o que tem atraído cada vez mais consumidores. A empresa comemora o sucesso do dispositivo e anuncia novidades para o futuro, incluindo o lançamento de novos modelos e a expansão de sua presença em outros mercados. <br>

A Apollo está comprometida em oferecer dispositivos de alta qualidade e tecnologia avançada a um preço acessível, o que tem sido a chave para o sucesso do APOLLO P12 PRO. A empresa se orgulha de sua posição como uma das maiores fabricantes de smartphones do mundo e espera continuar a crescer e a inovar em um futuro próximo.</p>
    </div>
  </div>
</div>


<style>
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.titulo {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.conteudo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.imagem {
  width: 50%;
}

.texto {
  width: 70%;
  text-align: left;
  margin-left: 50px;
  text-align: justify;
  font-size: 1.4rem;
}


</style>