<div class="produtos1">
  <h1>Os nossos principais produtos</h1>
  <h3>Os melhores smartphones disponíveis no mercado</h3>
  <div class="center-box">
    <div class="image-box">
      <img src="/img/apollop13principal.png" alt="product image">
      <h1>APOLLO P13 DELUXE está chegando</h1>
    <div class="button-container1">
      <a href="/produtos/apollop13deluxe" class="button">Saiba mais ↗</a>
    </div>
    </div>
  </div>
  <div class="image-grid">
  <div class="image-grid-item">
    <img src="/img/apollop11lite.png">
    <h3>APOLLO P11 LITE</h3>
    <h4>Preço: R$ 1.890,00</h4>
    <div class="button-container">
      <a href="/login" class="button">Compre agora</a>
      <a href="/produtos/apollop11lite" class="button">Saiba mais ↗</a>
    </div>
  </div>
  <div class="image-grid-item">
    <img src="/img/apollop11pro.png">
    <h3>APOLLO P11 PRO</h3>
    <h4>Preço: R$ 2.490,00</h4>
    <div class="button-container">
      <a href="/login" class="button">Compre agora</a>
      <a href="/produtos/apollop11pro" class="button">Saiba mais ↗</a>
    </div>
  </div>
  <div class="image-grid-item">
    <img src="/img/apollop12lite.png">
    <h3>APOLLO P12 LITE</h3>
    <h4>Preço: R$ 2.099,00</h4>
    <div class="button-container">
      <a href="/login" class="button">Compre agora</a>
      <a href="/produtos/apollop12lite" class="button">Saiba mais ↗</a>
    </div>
  </div>
  <div class="image-grid-item">
    <img src="/img/apollop12pro.png">
    <h3>APOLLO P12 PRO</h3>
    <h4>Preço: R$ 2.890,00</h4>
    <div class="button-container">
      <a href="/login" class="button">Compre agora</a>
      <a href="/produtos/apollop12pro" class="button">Saiba mais ↗</a>
    </div>
  </div>
</div>
<br><br><br>
</div>

<style>
  /*PRODUTOS*/

.produtos1 {
    width: 100%;
    height: auto;
    margin-bottom: -170px;
    background-color: #F7F7F7;
  }

  .produtos1 h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 1.8rem;
    color: black;
  }

  .produtos1 h3,
  .produtos1 h4 {
    text-align: center;
    color: black;
  }

  .produtos1 .center-box {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .produtos1 .image-box {
    width: 53%;
    margin: 0 auto;
    text-align: center;
  }

  .produtos1 .image-box img {
    max-width: 100%;
    border-radius: 30px;
    transition: all 0.6s ease;
  }

  .produtos1 .image-box img:hover {
    transform: scale(1.1);
    }

  .produtos1 .image-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-column-gap: 5px;
    grid-row-gap: 80px;
    margin: 0 auto;
    width: 100%;
    padding-top: 80px;
  }
  
  .produtos1 .image-grid-item {
    text-align: center;
  }
  
  .produtos1 .image-grid-item img {
    width: 50%;
    border-radius: 30px;
    opacity:1;
    cursor: pointer;
  }

  .produtos1 .image-grid-item img:hover{
    opacity:0.5;
  }
  
  .produtos1 .button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .produtos1 .button-container1 {
    padding-top: 20px;
  }
  
  .produtos1 .button {
    padding: 10px 20px;
    background-color: #A6A6A6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    border: 2px solid white;
  }
  
  .produtos1 .button:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
  }

  .button-container{
    padding-top: 30px;
  }
</style>
