<div class="sobre">
  <div class="titulo">
    <h1>Sobre a APOLLO</h1>
    <h2>A principal alternativa do modernismo tecnológico</h2>
  </div>
  <div class="conteudo">
    <div class="imagem">
      <img src="/img/sobre.png" alt="">
    </div>
    <div class="texto">
      <p>APOLLO é uma empresa jovem, mas que já se destaca no mercado de venda de celulares. Fundada em 2023 na cidade do Rio de Janeiro, ela tem conquistado clientes ao redor do mundo e já ultrapassou a marca de 100 milhões de smartphones vendidos. A Apollo se destaca por oferecer recursos ultra avançados em seus dispositivos, garantindo aos seus clientes uma experiência de uso única e inovadora. Com uma equipe de desenvolvimento altamente qualificada, a empresa tem como objetivo se tornar uma referência mundial em tecnologia móvel. A cada lançamento, a Apollo inova e surpreende seus clientes, consolidando sua posição no mercado e seus resultados positivos.</p>
    </div>
  </div>
</div>


<style>
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.titulo {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.conteudo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.imagem {
  width: 50%;
}

.texto {
  width: 70%;
  text-align: left;
  margin-left: 50px;
  text-align: justify;
  font-size: 1.7rem;
}


</style>