<div id="usuario">
    <a href="/consulta">Voltar</a>
    <div class="container">
        <h1>{{usuario.nome}}</h1>
        <p> sobrenome: {{usuario.sobrenome}}</p>
    </div>
    <div class="action">
        <a href="/usuario/edit/{{usuario.ID}}">Editar</a>
    </div>
</div>