<div class="sobre">
  <div class="titulo">
    <h1>APOLLO P11 LITE</h1>
    <h2>Principal alternativa de porta de entrada digital</h2>
  </div>
  <div class="conteudo">
    <div class="imagem">
      <img src="/img/p11lite.png" alt="">
    </div>
    <div class="texto">
        <p>
            Tela: OLED de 6,5 polegadas com resolução 4K HDR <br>
            Processador: Qualcomm Snapdragon 888 <br>
            RAM: 8GB de RAM <br>
            Armazenamento interno: de 128GB ou 256GB <br>
            Triplo sistema de câmera traseira: 12MP principal, 12MP ultra-wide, 12MP telephoto com zoom óptico 3x <br>
            Câmera: frontal de 8MP <br>
            Bateria: de 4.500mAh com suporte a carregamento rápido e sem fio <br>
            Sistema operacional: Apollo 1.0 <br>
            Resistência à água e poeira (IP65/68)
            Leitor de impressões digitais no display
        </p>
        <button><a href="/login">Compre agora!</a></button>
    </div>
  </div>
</div>


<style>
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.titulo {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.conteudo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.imagem {
  width: 50%;
}

.imagem img{
  border-radius: 30px;
}

.texto {
  width: 70%;
  text-align: left;
  margin-left: 50px;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 34px;
}

  .texto button {
    padding: 10px 20px;
    margin-top: 60px;
    background-color: black;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }

    .texto button a{
        text-decoration: none;
        color: white;
    }

  .texto button:hover {
    background-color: gray;
    cursor: pointer;
  }


</style>