<div class="sobre">
  <div class="titulo">
    <h1>APOLLO P12 LITE</h1>
    <h2>Intermediário avançado completo</h2>
  </div>
  <div class="conteudo">
    <div class="imagem">
      <img src="/img/p12lite.png" alt="">
    </div>
    <div class="texto">
        <p>
            Tela: 6.81 polegadas AMOLED, resolução de 2400 x 1080 pixels, taxa de atualização de 120Hz <br>
            Processador: Qualcomm Snapdragon 888 <br>
            RAM: 8GB ou 12GB <br>
            Armazenamento: 128GB ou 256GB, sem suporte para expansão <br>
            Câmera traseira: principal de 108MP, ultra-wide de 13MP, telefoto de 5MP <br>
            Câmera frontal: 20MP <br>
            Bateria: 4600mAh com suporte para carregamento rápido de 55W e carregamento sem fio de 50W <br>
            Sistema operacional: Apollo 2.0 <br>
            Outros recursos: leitor de impressões digitais na tela, resistência à água e poeira (IP68), NFC, Bluetooth 5.2
        </p>
        <button><a href="/login">Compre agora!</a></button>
    </div>
  </div>
</div>


<style>
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.titulo {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.conteudo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.imagem {
  width: 50%;
}

.imagem img{
  border-radius: 30px;
}

.texto {
  width: 70%;
  text-align: left;
  margin-left: 50px;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 34px;
}

  .texto button {
    padding: 10px 20px;
    margin-top: 27px;
    background-color: black;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }

    .texto button a{
        text-decoration: none;
        color: white;
    }

  .texto button:hover {
    background-color: gray;
    cursor: pointer;
  }


</style>