<div class="sobre">
  <div class="titulo">
    <h1>APOLLO P11 PRO</h1>
    <h2>Completo e compacto</h2>
  </div>
  <div class="conteudo">
    <div class="imagem">
      <img src="/img/p11.png" alt="">
    </div>
    <div class="texto">
        <p>
            Tela: OLED de 6,0 polegadas com resolução Full HD+ (2340 x 1080 pixels) e taxa de atualização de 90 Hz <br>
            Processador: Qualcomm Snapdragon 765G <br>
            RAM: 8 GB <br>
            Armazenamento interno: 128 GB (não expansível) <br>
            Câmera traseira: 12,2 MP (principal) + 16 MP (ultra-wide) <br>
            Câmera frontal: 8 MP <br>
            Bateria: 4.000 mAh com carregamento rápido de 18W e carregamento sem fio de 15W <br>
            Sistema operacional: Apollo 1.1 <br>
            Outros recursos: leitor de impressão digital integrado na tela, resistência à água (IP68), 5G.
        </p>
        <button><a href="/login">Compre agora!</a></button>
    </div>
  </div>
</div>


<style>
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.titulo {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.conteudo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.imagem {
  width: 50%;
}

.imagem img{
  border-radius: 30px;
}

.texto {
  width: 70%;
  text-align: left;
  margin-left: 50px;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 34px;
}

  .texto button {
    padding: 10px 20px;
    margin-top: 60px;
    background-color: black;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }

    .texto button a{
        text-decoration: none;
        color: white;
    }

  .texto button:hover {
    background-color: gray;
    cursor: pointer;
  }


</style>