<div class="sobre">
  <div class="titulo">
    <h1>APOLLO P13 DELUXE</h1>
    <h2>A opção mais avançada do mercado</h2>
  </div>
  <div class="conteudo">
    <div class="imagem">
      <img src="/img/p13.png" alt="">
    </div>
    <div class="texto">
        <p>Tela: AMOLED Dynamic 6.8" WQHD+ <br>
        Resolução: 3200 x 1440 <br>
        Sistema operacional: Apollo 3.1 <br>
        Processador: Exynos 2100 ou Qualcomm Snapdragon 888 <br>
        RAM: 12 GB ou 16 GB <br>
        Armazenamento interno: 128 GB, 256 GB ou 512 GB <br>
        Câmera traseira: principal de 108 MP, ultra wide de 12 MP, teleobjetiva de 10 MP e teleobjetiva periscópica de 10 MP <br>
        Câmera frontal: 40 MP <br>
        Bateria: 5000 mAh, com suporte para carregamento rápido e sem fio <br>
        Dimensões: 165.1 x 75.6 x 8.9 mm <br>
        Peso: 229 g <br>
        Outros recursos: resistência à água (IP68), leitor de impressão digital na tela, suporte a S-Pen (vendido separadamente)</p>
    </div>
  </div>
</div>


<style>
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.titulo {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.conteudo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.imagem {
  width: 50%;
}

.imagem img{
  border-radius: 30px;
}

.texto {
  width: 70%;
  text-align: left;
  margin-left: 50px;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 34px;
}


</style>